@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-border-round {
    position: relative;
    background: linear-gradient(135deg, #40F6FC, #9491DB, #E92DBA, #ECF083);
    border-style: dotted;
    padding: 6px;  
    border-radius: 50%;
    display: inline-block; 
  }

  .gradient-border-round img {
    border-radius: 50%;
    display: block;
    background: #172442; 
  }

  .gradient-text {
    background: linear-gradient(135deg, #40F6FC, #9491DB, #E92DBA, #ECF083);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: underline;
  }

.gradient-background {
    background: linear-gradient(135deg, #40F6FC, #9491DB, #E92DBA, #ECF083);
  }

.gradient-border {
    border: 4px solid;
    border-image: linear-gradient(135deg, #40F6FC, #9491DB, #E92DBA, #ECF083) 1;
  }

.hover-glow {
    color: white; 
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.hover-glow-title {
    color: white; 
    text-shadow: 0 0 50px #fff;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

iframe::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
  }